/* TODO: Add a rule for images, so they never exceed their container's width. */



body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

article {
  border-bottom: 2px solid black;
  margin: 0 2.5%;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}
